altgraph==0.17.3
asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
click==8.1.7
collection==0.1.6
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
Django==4.2.4
djangorestframework==3.14.0
executing==1.2.0
fonttools==4.42.0
ipython==8.14.0
jedi==0.19.0
kiwisolver==1.4.4
matplotlib==3.7.2
matplotlib-inline==0.1.6
myprofiler==0.0.1
numpy==1.25.2
opencv-python==4.5.5.62
packaging==23.1
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
prompt-toolkit==3.0.39
pure-eval==0.2.2
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyparsing==3.0.9
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
wcwidth==0.2.6
